{% load static %}
<html lang="ru"> 
<head> 
    <title>Лучший кликер на планете</title>     
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head> 
<body>
    <main class="app">
        <nav class="nav">
            Привет, {{ user.username }}
            <a href="{% url 'logout' %}">Выйти</a>

            <h3>Достижения</h3> 
            <div class="ds">
            {% if core.clikc_power >= 10 %}
                <p class="power_d"> Cила клика: 10 </p>
            {% endif %}
            {% if core.clikc_power >= 100 %}
                <p class="power_d"> Cила клика: 100 </p>
            {% endif %}
            {% if core.clikc_power >= 200 %}
                <p class="power_d"> Cила клика: 200 </p>
            {% endif %}
            {% if core.clikc_power >= 300 %}
                <p class="power_d"> Cила клика: 300 </p>
            {% endif %}
            {% if core.clikc_power >= 500 %}
                <p class="power_d"> Cила клика: 500 </p>
            {% endif %}
            {% if core.clikc_power >= 1000 %}
                <p class="power_d"> Cила клика: 1000 </p>
            {% endif %}
            {% if core.auto_click_power >= 10 %}
                <p class="power_ad"> Cила дракончиков: 10 </p>
            {% endif %}
            {% if core.auto_click_power >= 100 %}
                <p class="power_ad"> Cила дракончиков: 100 </p>
            {% endif %}
            {% if core.auto_click_power >= 200 %}
                <p class="power_ad"> Cила дракончиков: 200 </p>
            {% endif %}
            {% if core.auto_click_power >= 300 %}
                <p class="power_ad"> Cила дракончиков: 130 </p>
            {% endif %}
            {% if core.auto_click_power >= 500 %}
                <p class="power_ad"> Cила дракончиков: 500 </p>
            {% endif %}
            {% if core.auto_click_power >= 1000 %}
                <p class="power_ad"> Cила дракончиков: 1000 </p>
            {% endif %}
            </div>
        </nav>

        <div class="container">
            <div id='coins'>{{core.coins}}</div> 
            <img class='drac' src= "{% static 'imgs/drac.png' %}" id="drac" onclick="call_click()">
            <p>
                Огненая мощь клика: <span id="clikc_power">{{ core.clikc_power }}</span> 
            </p>
            <p>  
                Самостоятельные дракончики: <span id="auto_click_power">{{ core.auto_click_power }}</span> 
            </p>
            <button class="save" onclick="setSave()">Cохранить монетки</button>
        </div>

        <aside class="boosts" id="boosts"> 
            <h3>Бусты</h3> 
            <div class="boosts-holder" id="boosts-holder"> 
                {% for boost in boosts %} 
                    <button class="boost_{{boost.type}}" id="boost_{{boost.id}}" onclick="buy_boost({{boost.id}})"> 
                        <p>lvl: <span id="boost_level">{{boost.level}}</span></p> 
                        <p>+<span id="boost_power">{{boost.power}}</span></p> 
                        <p><span id="boost_price">{{boost.price}}</span></p> 
                    </button> 
                {% endfor %} 
            </div> 
        </aside>
    </main>
</body> 
</html>